<html>
    <head>

    </head>
    <body>
        <p>전화번호 부</p>
        <ul>
            <li><a href="#">login</a></li>
            <li><a href="/new">New</a></li4>
        </ul>
        <h1>내용보기</h1>
        <h2><%= docs.name %></h2>
        <ul>
            <li><%= docs.email %></li>
            <li><%= docs.tel %></li>
        </ul>
        
        <span>Edit</span>
        <span>delete</span>
        <span>(주)ROHI-BOKO 게시판 정책 및 역관 회사소개 광고 마이비지니스제휴 제안 이용약관 개인정보취급방칩 고객센터</span>
    </body>
</html>