<html>
    <head>

    </head>
    <body>
        <p>전화번호 부</p>
        <ul>
            <li><a href="#">login</a></li>
            <li><a href="#">New</a></li4>
        </ul>
        <h2>New</h2>
        <form action="/new" method="post">
            <input type="text" name="name"><p></p>
            <input type="email" name="email"><p></p>
            <input type="tel" name="tel"><p></p>
            <input type="submit" value="submit">
        </form>
        
        <span>(주)ROHI-BOKO 게시판 정책 및 역관 회사소개 광고 마이비지니스제휴 제안 이용약관 개인정보취급방칩 고객센터</span>
    </body>
</html>