doctype html
html    
    head
        title 실습
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Server Side JavaScript
        from(method="post" action="/subject/new")
            input(type="text" name="title" )
            br
            textarea(name="info")
            br
            input(type="submit")
    