/* 레이아웃 */
#wrap{width: 100%;}
#header{height: 325px;background: url(../img/header_bg.jpg) top center repeat-x; }
#contents{}
#footer{width: 100%;height: 200px;background: #333;}

/* 스킵메뉴 */
#skip{position: absolute;}
#skip a{position: absolute; left:5px;top:-40px; color:#fff; width: 140px; height: 21px;  font-size: 11pt;}
#skip a:active,#skip a:focus{top:0;}



/* 컨텐츠 레이아웃 */
#cont_nav{}
#cont_tit{background-color: rgb(186, 227, 246);}
#cont_ban{width: 100%;height: 200px;background: #555;}
#cont_cont{width: 100%;height: 200px;background: #666;}
/* 컨테이너 */
.container{width: 990px;margin: 0 auto;height: inherit;background: rgb(225,225,225,0.3);}

/* 헤더메뉴 */
.header{}
.header .header-menu{text-align: right;}
.header .header-menu a{display:inline-block; color:white;  padding: 4px; margin:2px; font-size: 10pt;}

.header .header-tit{text-align: center; }
.header .header-tit h1{ color:white; font-size:28px; background-color: #4aa8d4; padding:9px;margin-top:30px; text-transform:uppercase; display: inline-block; }
.header .header-tit a{color:white; background-color: #2698cd; padding:7px; margin-top: -10px;}
/* a태그를 text-align 적용할떄는 a 태그의 부모에 적용한다. */

/* 헤더 아이콘 */
.header .header-icon{text-align: center; margin-top: 37px;}
.header .header-icon a{width:60px; height: 60px; background: url(../img/icon.png); display:inline-block;}

.header .header-icon a.icon1{background-position: 0px 0px;}
.header .header-icon a.icon2{background-position: 0px -60px;}
.header .header-icon a.icon3{background-position: 0px -120px;}
.header .header-icon a.icon4{background-position: 0px -180px;}

.header .header-icon a.icon1:hover{background-position: -60px 0px;}
.header .header-icon a.icon2:hover{background-position: -60px -60px;}
.header .header-icon a.icon3:hover{background-position: -60px -120px;}
.header .header-icon a.icon4:hover{background-position:-60px -180px;}

/* 전체 메뉴 */
.nav {padding: 10px;font-size: 13px;}
.nav > div{width:40%; float:left;}
.nav > div :last-child{width:20%;}
.nav > div .last{width:20%;}
.nav > div h3{font-size: 18px; color:#25A2D0; margin-bottom: 4px;}
.nav > div ol li{float: left; width: 50%;}
.nav > div.last-child ol li {width:100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit{}
.tit h2{font-family: 'Song Myung', serif; color: rgb(92, 163, 235); margin: 10px; padding:10px; text-align: center; font-size: 40px;}
.tit .btn{ background: url(../img/icon.png); display: inline-block;}

