doctypehtml
html   
    head
        title server
        script.
            function Visi(){
                document.getElementById("new").innerHTML="<form method='post' action='/subject/new'><input type='text' name='title' placeholder='title'><p></p><textarea name='desc' cols='30' rows='10' placeholder='into the text'></textarea><p></p><input type='submit' value='등록하기'></form>";
            };

    body
        a(href="/subject")
            h1 Server Side JavaScript

    
        ul
            each topic in docs
                
                li 
                    a(href="/subject/"+topic)=topic
                //변수 대입은 = 이다

        //p Welecome
        article=title
        
        div(id="new")
            a(href="#" onclick="Visi();") new 
            // a(href="/subject/new" onclick="Visi();") new 

        
