doctypehtml
html
    head
        title Test
        meta(charset="utf8") 
        //속성은 괄호
    body
        h1 Server Side javascripts
        
        form(type="post" action="/sss/new")
            input(type="text", name="name" placeholder="title")
            p
            textarea(name="desc", cols="30", rows="10" placeholder="into the text")
            p
            input(type="submit", value="등록하기")

       

